extends ../layout

block content
  .container
    .container
      .wrapper
        form.form-signin(action='login', method='GET', name='Login_Form')
          h2.form-signin-heading Unauthorized
          h3.form-signin-heading '#{username}' is not registered
          br
          button.btn.btn-lg.btn-info.btn-block(name='Submit', value='Login', type='Submit') Try again
